<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>Todo app</title>
</head>

<body>
    <div id="app">
        <div class="row">
            <form>
                <div class="row col s6">

                    <div class="input-field col s10">

                        <textarea class="materialize-textarea" v-model="newItem"></textarea>

                        <label>What needs to be done ?</label>
                    </div>
                </div>
            </form>
            <br>
                <div class="row col s6">
                    <a class="waves-effect waves-light btn" v-on:click="AddItem"><i
                            class="material-icons left">add_circle</i>Add</a>
                </div>
            </form>
            <br>

        </div>
        </form>

        <div class="row">
            <div class="row col s9">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Todo List</h4>

                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i
                                        class="material-icons">search</i>Search</label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                    <ul>
                        <label>
                            <li class="collection-item" v-for="(todo, index) in todos" v-bind:key="index" >
                               
                                <input type="checkbox" />
                                <span></span>

                                <span><a href="#!" class="secondary-content"><i class="material-icons">delete</i><i
                                            class="material-icons">check_circle</i></a></span>

                                            <span>{{todo}}</span>

                            </li>

                        </label>

                    </ul>

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    newItem : '',

                    todos: [
                        'Test React Ant Design Todo List'],

                 
                }
            },



            methods: {
                AddItem() {

                    this.todos.push(this.newItem)
                    this.newItem=''
                
            },
        }
        }).mount('#app');
    </script>
</body>

</html>